.but-card {
  color: #425D37;
}
.buttos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttos-btn {
  background-color: #425D37;
  border-radius: 1rem;
  outline: none;
  height: 3rem;
  border: none;
  padding: 0.5rem 1rem;
  color: #FEFFFE;
}
.buttos-btn:hover {
  background-color: #AABA8F; 
  color: #395230;
  border: 1px solid #425D37;
}