.footer-Container {
  display: flex;
  width: 100vw;
  background-color: #E7EBE0;
  color: #0D0D0D;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.footer-ph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.footer-ph-icons {
  display: flex;
  gap: 0.5rem;

}
.footer-ph-cinter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.footer-ph-right {
  color: #D87945;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}