@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  /* navContainer{

  } */
}

/* @media screen and (max-width: 600px) {
} */