.navContainer {
  background-color: #E7EBE0;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.1rem 5rem;
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

.linkClass {
  color: #0D0D0D;
  width: fit-content;
  padding: 1rem;
  text-decoration: none;
}

.linkClass:hover {
  color: #D87945;
}

/* #hamburger-nav {
  display: none;
} */

/* .desktop-nav {
  position: relative;
  display: inline-block;
  top: 0;
  z-index: 50;
  
} */