.search-style {
  width: 20vw;
  height: 2rem;
  padding: 0.1rem;
  text-align: center;
  border-radius: 1rem;
  outline: none;
  border: none;
  position: relative;

}
.search-container-search{
  position: absolute;
left: 29rem;
}