.App {
  color: #0D0D0D;
  background-color: #FEFFFE;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Amiri', serif;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amiri', serif;
}