.text-home {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.col {
  padding: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;
  overflow-x: scroll;
  justify-content: space-around;
  width: 90vw;
}